<!-- Item: JainK17 -->
<li >
<b>Non-convex Optimization for Machine Learning</b><br>
Prateek Jain and Purushottam Kar,<br>
<i>Foundations and Trends® in Machine Learning</i>,
vol. 10,


December
2017.

<br />
<a href="javascript:toggleBibtex('JainK17')">[BibTeX]</a>
<a href="all_papers/JainK17_FTML.pdf">[URL]</a>


<div id="bib_JainK17" class="bibtex noshow">
<pre>
@article{JainK17,
  author = {Prateek Jain and Purushottam Kar},
  title = {Non-convex Optimization for Machine Learning},
  journal = {Foundations and Trends® in Machine Learning},
  year = {2017},
  volume = {10},
  url = {all_papers/JainK17_FTML.pdf}
}
</pre>
</div>
</li>
